@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');


/* shadow copy btn k f */
@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}


/* shake copy key frame */
@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* rotate 360 key for refresh btn */
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* scroll style*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color:  #dcdcdc;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #808080;

}

/* Handle */
::-webkit-scrollbar-thumb {
    ::-webkit-scrollbar-thumb {

        background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));
    }

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#808080;
}






/* var them root color */
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;

    --heading-color: #292922;
}

/* theme on HTML  */

[data-theme="dark"] {
    --primary-color: #000;
    --secondary-color: #fff;
    --font-color: #e1e1ff;
    --bg-color: #121212;
    --heading-color: #a333;
}

html {
    margin: 0px;
    padding: 0px;

}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 99vh;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--font-color);
}

/*body:hover{
  background-color: #8000804d;
}*/


header {
    position: relative;
    background-color: #000000d4;
    top: 0;
    width: 100%;
    height: 55px;
    color: #ea67ea;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Jwmwl {
    padding-left: 0.25cm;
    left: 20px;
    padding: 10px;
    position: absolute;
    width: 120px;
    position: relative;
    height: 30px;
padding: 10px;
}
#headerLogo{
    position: absolute;
 margin-bottom: 40px;
    margin-left: 0px;
    left: 0;
align-items: left;
    width: 30px;
    top: 8px;
}
.btn-circle {
    top: 20px;
    margin-right: center;
    margin-left: -50px;

    width: 25px;
    height: 25px;

    position: absolute;
    display: inline-block;

    border-radius: 50%;
    float: center;

    padding: 12px;
    text-align: center;

    color: silver;
    border: none;
    cursor: pointer;

    align-items: center;

}

.btn-circle span {
    top: 0;
    left: 6px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.btn-circle span :hover {
    color: silver;
}

#copy_btn {
    bottom: 0;
    margin-bottom: 5px;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: grabbing;
}

.icon_copy {
    position: absolute;
    padding: 0px;
    float: center;
    top: 0;
    left: 0;
    width: 25px;
    height: 35px;

}

/* this class Add to copy btn from function copy in js */
.rotated {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

    transition-duration: 3s;
}


/* dropdown symbole icon  */
.dropbtn {

    padding: none;
    display: inline;
   margin-top: -25px;
    margin-left: 60px;
    font-size: 24px;
    top: 0;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgba(205, 255, 250, 0.8);
    ;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: silver;
    border-radius: 10px;
    min-width: 140px;
    height: 40px;
   margin-left: -50px;
   margin-top: 35px;;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    z-index: 1;

}

.dropdown-content div {
    cursor: pointer;
display: inline;
    padding: 5px 10px;
    width: auto;
height: auto;
color: #ffff;
    text-decoration: none;
    display: table-cell;
 
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.dv_font_size_select {
    display: inline;
    float: right;
    position: absolute;
    border: none;
    margin-left: 100px;
    top: 22px;

}

#font_sizes {
    font-size: 1.0rem;
}

.dv_font_family_select {
    display: inline;
    float: right;
    position: absolute;
    margin-left: 200px;
    top: 22px;
}

/* DropDown Sitting */
.Drp-sitting-container {
    color: silver;
    position: absolute;
    background-color: transparent;
    bottom: 15px;
    right: 30px;
    width: 40px;
    height: 30px;
    font-size: 22px;
}

.Drp-sitting-container div {
    align-content: center;
    align-items: center;
    color: #fff;
    display: none;

}

/* thme swicth start */
em {}

.theme-switch {
    padding: none;
    display: inline;
    position: absolute;
    margin-right: 20%;
    opacity: 0.8;
    right: 0;
    font-size: 15px;
    top: 10px;
    border: none;
    border-bottom: 0.5px solid purple;
    cursor: pointer;
}


.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 36px;
}

input:checked+.slider {
    background-color: #8000804d;
}

input:checked+.slider:before {
    transform: translateX(183%);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#dv_Log_out {
    right: 0;
    top: 0;
    margin-top: 250px;
    display: none;
    width: 80px;
    height: 20px;
    color: red;
    font-size: 18px;
    z-index: 1;
    background: transparent;
    cursor: grabbing;
}

/* End Sitteng */
.AndroidDiv{
    display: inline-block;
width: 100px;
cursor: pointer;
position: absolute;
margin-left:25%;
margin-top: -30px;
}
#AndroidLogo{
    width:150px;
   
}
.div_basket {
    top: 10px;
    right: 0px;
    margin-right: 10%;
    float: right;
    position: absolute;
    width: 10px;

}

.dv_left_right_tool {
display: inline;

    background: transparent;
    width: 100px;
    height: 20px;
    top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    margin-right: 620px;
    float: left;
    position: absolute;
    width: 10px;

}

#left-to-right_icon {
margin-left: 30px;

    background: gray;
    position: absolute;
    width: 35px;
    height: 25px;
    left: 0;
    top: 0;
    cursor: pointer;
}

#left-to-right_icon:hover {
    background: silver;
}

#delet_backet_btn {

    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: grabbing;

  
}

#icon_delete {
    position: absolute;
    padding: 0px;
    float: center;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 45;

    background-color: transparent;
}

#this_del {
    content: "\007F";
}

/* header children end */



#container {
     display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr 1fr));
    width: 100%;
 }

/* left containe note list*/
#OnlineNotes {
    position: relative;
left: 0;

    float: left;
    background-color: var(--bg-color);
    color: var(--font-color);
    height: 92vh;
    width: 27%;
    border-right: 3px solid purple;
    border-top-right-radius:17%;
    border-bottom-right-radius: 70px;
    overflow: hidden;
   
    max-width: 49.6%;

    min-height: 90px;
    overflow: auto;


}
/*div exteand btn */
#btn-position {
    width: 35PX;
    height: 35PX;
    cursor: ew-resize;
    position: absolute;
    display: grid;
margin-left:26%;
margin-top: 500px;
    justify-content: center;
  
    z-index: 1;
}

#ul_list {
    overflow-y: auto;
    padding-left: 12px;
    max-height: 98%;
    margin-left: 17px;
    grid-template-columns: repeat(1, 1fr);
    /* 1.5 x 3 */
}

#ul_list li {
    display: column;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    width: 20vw;
    height: 65px;
   max-height: 50%;
   white-space: nowrap;
    background-color: silver;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 0.5cm;
    border: 2px solid #FFF;
    border-radius: 12px;
    -webkit-box-shadow: -1px 5px 15px 5px rgba(110, 81, 196, 1);
    -moz-box-shadow: -1px 5px 15px 5px rgba(110, 81, 196, 1);
    box-shadow: -1px 5px 15px 5px rgba(110, 81, 196, 1);
    transition: all 0.5s ease-in ;
}
#ul_list li:hover {
transform: scale(0.98);
}
#ul_list li span {
    cursor: text;
    font-family: "Barlow";
    font-size: 16px;
    font-weight: normal;
    display: block;
    max-width: 370px;
    max-height: 40px;
    overflow-x: hidden;
}

/* right div contain form + title */
#NoteCloud {
right: 0;
position: absolute;
    font-family: 'arial';
    float: right;
    background-color: silver;
    height: 90.2vh;
    width: 71.5%;
}

.Div_title {
    position: relative;
    width: 100%;
    align-items: center;
}

#inpt_title {
    padding-right:3% ;
    padding-left:3%;
    background-color: var(--bg-color);
    color: var(--font-color);
    width: 99.5%;
    height: 40px;
}

/*plus Btn Clear Title Note */
#clearForm {


    text-align: center;
    font-size: 24px;
    color: #03a9f4;
    position: absolute;
    right: 20px;
    top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

}

#clearForm:hover {
    background: silver;
}

.Div_Note_form {
    width: 100%;
    align-items: center;
    position: relative;
}

#Note_form {

    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 18px;
    resize: horizontal;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 220px;
    min-height: 86vh;
}


.add_buttun {
    z-index: 2;
    align-items: center;
    bottom: 45px;
    margin-left: -80px;
    position: absolute;
    width: 60px;
    height: 60px;
    font: 18px/60px 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--bg-color);

    margin-right: 20px;
    text-align: center;
    /*background: rgba(20, 244, 55, 0.6);*/
    border-radius: 50%;
    animation: shadow-pulse-big 1s 3;

}
/* icon show top corner of add_buttun*/
.icon_stick_add_buttun{
        position: absolute;
    width: 25px;
    height: 25px;
    left: -7px;
    top: -6px;

}

/* id update-Btn Depend on class add_buttun */
#update-Btn {
    display: none;
    bottom: 100px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.add_buttun:hover {
    border: 1px purple solid;
}

.liBsktDiv {
    position: absolute;
    right: 0;
    margin-right: -40px;
    margin-bottom: 30px;
    width: 30px;
    height: 30px;
    /*background-color: lightgreen;*/
    background-image: url('./assest/delete-ss.png');
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.liBsktDiv:hover {
    width: 30px;
    height: 30px;
    transform: rotate(130deg);
}

.icon_cloud {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    top: 0;


}

.icon_update {

    cursor: grabbing;
    color: silver;
    left: 12px;
    bottom: 5px;
    position: absolute;
    width: 35px;
    height: 35px;


}

/* status div pop up from bottom */
.statusPopup {

    width: 100vw;

    height: 40px;

    align-items: stretch;

    background: lightgreen;

    position: absolute;

    bottom: 0px;

    text-align: center;

    color: #fff;

    display: none;

}

/* key fream add by js fun uploadStaste() to .statusPopup */
@-webkit-keyframes expand {
    0% {
        height: -150px
    }

    50% {
        height: 75px
    }

    100% {
        height: 100px
    }
}

/*/*media for device width*/
/* @media (min-width: 600px) {

 ol { grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
 color:red;
 left:0;
   
 
 }
  ol li{
     font-size: 16px;
background:#FFC107;
    width: 80px;
    height: 40px;

 }
} */